@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&');

:root{
    --color0: white;
    --color1: #F2F2F2;
    --color2: #F69648;
    --color3: #44B44A;
    --color4: #0F8C64;
    --color5: #09253C;
    --color6: #061018;
    --color7: #333;
    --colorErrorFont: #842029;
    --colorErrorBack: #f8d7da;
    --colorErrorBorder: #f5c2c7;
    --colorSuccesFont: #0f5132;
    --colorSuccessBack: #eaf8f2;
    --colorSuccessTitleBack: #0f5132;
    --colorSuccessBorder: #dadbcc;
    --colorSuccessDIRBack: #fcfdc3; /*rgb(252, 253, 195);;*/
}

*{
    margin: 0px;
    padding: 0px;
}

.resposta-erro{
    font-size: 16px;
    text-align: center;
    color: var(--colorErrorFont);
    background-color: var(--colorErrorBack);
    border: 1px solid var(--colorErrorBorder);
    border-radius: 6px;
    padding: 20px;
}

.resposta-success{
    background-color: var(--colorSuccessBack);
    color: var(--colorSuccesFont);
    border: 1px solid var(--colorSuccessBorder);
    border-radius: 6px;
    padding: 10px 10px 30px 10px;
    min-width: 450px;
}
.resposta-success .titulo1, .titulo2{
    background-color: var(--colorSuccessTitleBack);
    color: var(--color1);
    font-size: 18px;
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 4px;;
}
.resposta-success .titulo2{
    margin-top: 30px;
}


.resposta-success table{
    padding: 0 30px;
    width: 100%;
}
.resposta-success table tbody td{
    color: var(--color7);
    /*width: 100%;*/
}
.resposta-success table tbody td, th{
    font-size: 16px;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid var(--color1);
}
.resposta-success table tbody .header-v{
    height: 40px;
    color:var(--colorSuccesFont);
    font-weight: 600;
    width: 250px;
}

.resposta-success table tbody tr:nth-child(odd) {
    background-color: var(--color0);
}

.resposta-success table tfoot td{
    font-size: 12px;
    padding: 10px 10px 0 10px;
    text-align: justify;
}

.avisoDispensaPGR{
    margin: 30px 30px 0 30px;
    padding: 20px;    
    text-align: center;
    background-color: var(--colorSuccessDIRBack);
    border-radius: 5px;
    border: 2px solid var(--color7);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.avisoDispensaPGR i{
    font-size: 28px;
    color: var(--colorSuccesFont);
    padding-bottom: 15px;
    margin: 0;
}
.avisoDispensaPGR p{
    font-size: 14px;
    padding: 10px;
    color: var(--color7);
}

.avisoDispensaPGR strong{
    color: var(--colorSuccesFont);
    font-size: 16px;
    padding: 0px 3px;;
}

@media (max-width: 500px){
    .resposta-erro{
        font-size: 14px;
        border-radius: 4px;
        padding: 10px;
    }

    .resposta-success{
        border-radius: 4px;
        padding: 5px 5px 10px 5px;
        min-width: 200px;
    }
    .resposta-success .titulo1, .titulo2{
        font-size: 14px;
        padding: 5px 5px;
        margin: 5px 5px;
        border-radius: 2px;
    }
    .resposta-success .titulo2{
        margin-top: 15px;
    }
    
    .resposta-success table{
        padding: 0 5px;
        width: 100%;
    }
    .resposta-success table tbody td, th{
        font-size: 12px;
    }
    .resposta-success table tbody .header-v{
        min-height: 30px;
        font-weight: 600;
        width: 150px;
    }
    
    .resposta-success table tfoot td{
        font-size: 10px;
    }

    .avisoDispensaPGR{
        margin: 10px 10px;
        padding: 15px 10px;    
        text-align: center;
        background-color: var(--colorSuccessDIRBack);
        border-radius: 5px;
        border: 2px solid var(--color7);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    }
    .avisoDispensaPGR p{
        font-size: 12px;
        padding: 5px;
    }
}