@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    /*background-color: #09253C;*/
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 250px;
}
.max-width{
    max-width: 1200px;
    padding: 0 30px;
    margin: auto;
}


.navbar .logo{
    color: white;
    font-size: 35px;
    font-weight: 500;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 0 0;
    font-family: 'Roboto', 'sans-serif';
    background-color: #ffffff;
    border-bottom: solid #000000 3px;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li{
    list-style: none;
    display: inline-flex;
}
.navbar .menu li a{
    display: block;
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    margin-right: 25px;
}
.navbar .menu li a:hover{
    color: #44B44A;
    transition: all 0.2s ease;
}
.navbar .menu .ferramentas{
    color: #44B44A;
    transition: all 0.2s ease;
}

.menu-btn{
    color: rgb(40, 40, 40);
    font-size: 23px;
    cursor: pointer;
    display: none;
}


.alerta-testes{    
    width: 80%;
    text-align: center;
    background-color: #f6964823;
    margin: auto;
    padding: 20px;
    border: 3px solid #F69648;
    border-radius: 6px;
}
.alerta-testes h3{
    color:#F69648;
    font-weight: 600;
}

.alerta-testes p{
    color:rgb(0, 0, 0);
    font-weight: 300;
    padding: 0 20px;
    margin: 20px;
}

.alerta-testes a{
    color:#F69648;
    font-weight: 800;
    margin: 0 5px;
    text-decoration: underline;
}






@media (max-width: 1200px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        background-color: #ffffff;
        position: fixed;
        height: 100%;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 13px 0;        
        font-size: 25px;
    }
    .max-width{
        max-width: 930px;
    }
}

section{
    padding: 100px 0;
}
@media(max-width: 690px){
    section{
        padding: 80px 0;
    }
}

.top{
    color:#09253C;
    display: flex;
    /*background: url("../public/banner_top.jpg");*/
    background: url("https://raw.githubusercontent.com/joeldc94/test-nextjs/master/public/banner_top.jpg");
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Ubuntu", "Sans-serif";
}

.top .max-width{
    width: 100%;
    display: flex;
}

.top .top-content .text-1{
    font-size: 25px;

}
.top .top-content .text-2{
    font-size: 55px;
    font-weight: 400;
    margin-left: -3px;
}
.top .top-content .text-3{
    font-size: 32px;
    margin: 5px 0;
    
}
.top .top-content a{
    display: inline-block;
    background-color: #44B44A;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 300;
    border: 2px solid #44B44A;
    border-radius: 8px;
    transition: all 0.2s ease;
}
.top .top-content a:hover{
    background: none;
    /*background-color: #F69648;  */  
    color: #09253C;
    border: 2px solid #44B44A;
}


/*CONTACT*/

.contact{
    /*color: white;*/
    /*background-color: #09253C;*/
    color: #333333;
    font-family: 'Roboto', 'Sans-serif';
    min-height: 85vh;
}

.contact .title{
    color:#44B44A;
    text-shadow: 1px 1px #09253C22;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
    font-weight: 800;
    font-size: 35px;
}

.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
.contact .contact-content .column{
    align-items: center;
}


.contact .contact-content .column{
    width: calc(50% - 30px);
}

.contact .contact-content .left p{
    text-align: justify;
}

.contact .contact-content .left li{
    list-style: none;
    font-weight: 400;
    text-align: justify;
}

.contact .contact-content .left a{
    color:#44B44A;
    margin-left: 20px;
}

.contact .contact-content .left .icons{
    margin: 10px 0;
}

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #44B44A;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    /*color: #f6f6f6;*/
    color:#44B44A;
}

.contact .bloco-explicacao{
    margin: 0 0 30px 0;
    padding: 20px 30px;
    background-color:#f0fff1;
    border:3px solid #44B44A;
    border-radius: 8px;
}


.contact .contact-content .titulo-consulta{
    color:#44B44A;
    font-size: 20px;
    font-weight: 800;
    text-shadow: 1px 1px #09253C22;
    margin: 0 0 10px 0;
}

.right .selecionaEntrada{
    color: #333333;
    display: inline;
    width: 160px;
    height: 30px;
    outline: none;
    font-size: 14px;
    font-weight: 300;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: wrap;
    background-color: #eeeded;
    border: 2px solid #44B44A;
    transition: all 0.2s ease;
}

.right .selecionaEntrada:hover{
    color: #44B44A;
    background: none;
    font-weight: 600;
}


.right .btnCNPJ, .right .btnCNAE{
    color: #333;
    background: #f2f2f2;
    font-weight: 400;
}

.contact .contact-content .right form .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .contact-content .right form .name{
    margin-right: 10px;
}
.contact .contact-content .right form .field input{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-family: 'Roboto', 'sans-serif';
    transition: all 0.3s ease;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 60%;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    margin: 0 0 0 40%;
    font-size: 14px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /*left: 50%;*/
    /*margin-left: -60px;*/
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }



.contact .contact-content .right form .button-area{
    display: flex;
    align-items: center;
}

.right form .button-area button{
    color: white;
    display: block;
    width: 160px !important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: wrap;
    background-color: #44B44A;
    border: 2px solid #44B44A;
    transition: all 0.2s ease;
}
.right form .button-area button:hover{
    color: #44B44A;
    background: none;
    font-weight: 600;
}


.right .selecionaEntrada{
    padding: 5px;
    margin: 10px 5px 10px 0;
}

.right .formCNAE{
    display: none;
}

.right .formCNPJ{
    display: block;
}


@media(max-width: 947px){
    .contact .title{
        margin-top: 50px;
    } 
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}
@media(max-width: 500px){
    .contact .title{
        margin-top: 50px;
    }    
    .contact .contact-content .right .fields{
        flex-direction: column;
    }
}

#resultado-consulta{
    /*background-color: #ccc;*/
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    margin: 30px 0;
    min-height: 20px;
}

.contact  .alert-success{

    background-color: #eaf8f2;
    color: #0f5132;
    /*margin: 30px 0;*/
    border: 1px solid #dadbcc;
    border-radius: 6px;
    padding: 20px 10px 20px 30px;
}